{{ template "base" .}}
{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>About</h1>
      <p>Hello here</p>
      <p>Hello here</p>
    </div>
  </div>
</div>
{{ end }}